<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/mainstyle.css">
        <link href="https://fonts.googleapis.com/css?family=PT+Mono|Patua+One&display=swap" rel="stylesheet">
        <title>{{title}}</title>
    </head>
    <div>
            {{{body}}}
    </div>

        <script type="text/javascript" src='script.js'></script>
</html>
