<body>
<main>
    <h1>Petition for the right of a healthy life without borders</h1>
    <br>
    <p>Health care is one of the ground stones of development, allowing people to reach their full potential in life and contribute for a better reality for all. Support us on this pleadge for a global health care system! </p>
    <p>Follow the links to get more information on the matter! </p>
    <br>
    <div class="links">
        <a id='youtubevideo' href="https://www.youtube.com/watch?v=FlETZ202Ovg">Check this video about how its economic aspects work</a>
        <br>
        <a id="germangov" href="https://www.bmz.de/en/issues/menschenrecht_gesundheit/index.html">Read here about what the German government has to say about the human right to healthcare</a>
        <br>
        <a href="https://www.un.org/pga/73/event/universal-health-coverage/">Here you can see some interesting materials from the UN High-Level Meeting on Universal Health Coverage</a>
        <br>
        <a href="https://www.who.int/news-room/fact-sheets/detail/universal-health-coverage-(uhc)"> Read more about what the World Health Organization says on the matter</a>
        <br>
        <a href="https://en.wikipedia.org/wiki/Universal_health_care">If you are a Wikifan, there is super interesting material for you as well over Universal Health Care!</a>
        <br>
        <a href="https://www.youtube.com/watch?v=jCVmY1iOJQs">Want to hear more about the debate? Enjoy this TEDtalk by Tarik Sammour "Healthcare: is it a right or a luxury?"</a>
        <br>
        <a href="https://www.youtube.com/watch?v=Ex1AqnM6U9Y">Or enjoy this deep TEDtalk from Sridhar Venkatapuram on the matter: "First principles of health justice: a human right to be healthy"</a>
        <br><br><br>
    </div>
    <p>Are you already a registered member on our petition? <a href="/login">🚑 LOG IN HERE 🚑</a> </p>
    <p>Feel like joining our cause? <a href="/welcome">🚑 REGISTER HERE 🚑</a>
    </p>
</main>

<footer>
<p class='footertext'> &copy; Livia de Castro e Mello 2019 </p>
<a class="logout" href="/logout">  LOG OUT  </a>
</footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
