<body>
    <h1>Thank you for giving your contribution for global, accessible healthcare!</h1>
    <p>Every signature counts on our fight for health cooperation among nations! Tell your friends about our petition!</p>
    <button type="button" name="button">Check who else signed for global health!</button>
</body>
