<body>
    <h1>Thank you for giving your contribution for global, accessible healthcare!</h1>
    <p>Every signature counts on our fight for health cooperation among nations! Tell your friends about our petition!</p>
    <img id='signaturetks' src={{signatureURL}} alt="signature image">
    <p>We have already {{supporters}} supporters for this petition!</p>
    <form class="" method="post">
        <button type="" name="signersButton">Check who else signed for global health!</button>
        <br><br><br>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</body>
