<body>
    <h1>Sign our petition to make universal health care a global reality!</h1>
    <br>
    <p>Health care is one of the ground stones of development, allowing people to reach their full potential in life and contribute for a better reality for all. Support us on this pleadge for a global health care system! </p>
    <p>Our pleadge is for the international community to discuss the creation of an international organism that assembles the financial and technical resources to implement this project worldwide!</p>
    <br>
    <p>PETITION FOR THE RIGHT OF A HEALTH LIFE WITHOUT BORDERS!</p>
    <form class="" method="post">
        <input type="text" name="firstName" value="">First Name
        <input type="text" name="LastName" value="">Last Name
        <button type="" name="submitButton">Send your signature!</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
