<body>
    <h1>Sign our petition to make universal health care a global reality!</h1>
    <br>
    <p>Health care is one of the ground stones of development, allowing people to reach their full potential in life and contribute for a better reality for all. Support us on this pleadge for a global health care system! </p>
    <p>Our pleadge is for the international community to discuss the creation of an international organism that assembles the financial and technical resources to implement this project worldwide!</p>
    <br>
    <p>PETITION FOR THE RIGHT OF A HEALTH LIFE WITHOUT BORDERS!</p>
    <h2>REGISTER</h2>
    <form class="" method="post">
        <input type="text" name="firstName" value="">First Name
        <input type="text" name="lastName" value="">Last Name
        <br><br>
        <input type="email" name="email" value="">e-mail
        <input type="password" name="password" value="">password
        <br><br>
        <button id='submitButton' type="" name="submitButton">Register for health!</button>
        <p class ='errormessage'>{{error}}</p>
    </form>
    <p>Are you already a member of our group of supporters? <a href="/login">Log in here🚑</a> </p>
    <h1>Want to know more about universal health care and why it is important?</h1>
    <div class="links">
        <a id='youtubevideo' href="https://www.youtube.com/watch?v=FlETZ202Ovg">Check this video about how its economic aspects work</a>
        <br>
        <a id="germangov" href="https://www.bmz.de/en/issues/menschenrecht_gesundheit/index.html">Read here about what the German government has to say about the human right to healthcare</a>
        <br>
        <a href="https://www.un.org/pga/73/event/universal-health-coverage/">Here you can see some interesting materials from the UN High-Level Meeting on Universal Health Coverage</a>
        <br>
        <a href="https://www.who.int/news-room/fact-sheets/detail/universal-health-coverage-(uhc)"> Read more about what the World Health Organization says on the matter</a>
        <br>
        <a href="https://en.wikipedia.org/wiki/Universal_health_care">If you are a Wikifan, there is super interesting material for you as well over Universal Health Care!</a>
        <br>
        <a href="https://www.youtube.com/watch?v=jCVmY1iOJQs">Want to hear more about the debate? Enjoy this TEDtalk by Tarik Sammour "Healthcare: is it a right or a luxury?"</a>
        <br>
        <a href="https://www.youtube.com/watch?v=Ex1AqnM6U9Y">Or enjoy this deep TEDtalk from Sridhar Venkatapuram on the matter: "First principles of health justice: a human right to be healthy"</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
