body {
    background-image: url("healthbackground.jpg");
    display: grid;
    grid-template-rows: 1fr 2rem;
    justify-content: center;
}

#background {
}

main {
    grid-row: 1/2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    background-color: white;
    text-align: center;
}

h1 {
    font-family: "Patua One", cursive;
    color: white;
    font-size: 3rem;
    padding-right: 200px;
    padding-left: 200px;
    text-align: center;
}

h2 {
    color: gold;
    font-size: 2rem;
    padding-right: 200px;
    padding-left: 200px;
    text-align: center;
}

button {
    font-size: 1.5rem;
    background-color: gold;
    border-radius: 25px;
}

a {
    font-size: 1.5rem;
    font-family: cursive;
    text-decoration: none;
    text-align: center;
    color: white;
}

a:hover {
    color: gold;
}

.links {
    text-align: center;
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
    color: gold;
    font-family: "PT Mono", monospace;
    font-weight: bold;
    padding-right: 200px;
    padding-left: 200px;
    text-align: center;
}

li {
    font-size: 1.5rem;
    color: white;
    font-family: "PT Mono", monospace;
    font-weight: bold;
    padding-right: 200px;
    padding-left: 200px;
    text-align: center;
}

ul {
    list-style: none;
    text-align: center;
}

#signaturetks {
    height: 150px;
    width: 500px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}

#cutebear {
    height: 100px;
    width: 100px;
}

form {
    padding-right: 200px;
    padding-left: 200px;
    color: white;
    font-size: 1.5rem;
    font-family: cursive;
    text-align: center;
}

footer {
    background-color: gold;
    align-items: center;
    grid-row: 2/3;
    bottom: 0;
    display: inline;
}

.footertext {
    color: black;
    font-size: 1rem;
}

.logout {
    font-size: 1.5rem;
    background-color: black;
    color: gold;
    font-weight: bold;
    padding: 0.2rem;
    font-family: serif;
    float: right;
}

.errormessage {
    font-size: 3rem;
    color: red;
    background: gold;
    border-radius: 50px;
}
